body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

.emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
}

.emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
}

.emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}

.icon {
    font-size: 4rem;
}

/* Adding Grid to the cards */

.emojis {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "one two"
        "three four";
    gap: 1em;
}

/* Adding Flex to to layout the content of the emoji cards */

.emoji {
    display: flex;
    flex-direction: column;
}

.emoji div:nth-child(1) {
    order: ;
}

.emoji div:nth-child(4) {
    justify-content: flex-end;
}